.form
{
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 80px;
}

.form__title
{
    font: 500 26px/1.2 Montserrat;
}

.form__input
{
    font: 500 18px/1.2 Montserrat;
    width: 100%;
    margin-top: 20px;
    height: 64px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    text-indent: 20px;
}

.form__checkbox
{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font: 400 16px/1.2 Roboto Condensed;
    align-items: center;
    margin-top: 35px;
}

.checkbox__input
{
    height: 22px;
    width: 22px;
    margin-right: 7px;
}

.form__submit
{
    width: 100%;
    background-color: #000;
    color: #fff;
    font: 500 18px/1.2 Montserrat;
    border-radius: 5px;
    height: 64px;
    margin-top: 35px;
}

.form__option
{
    height: 20px;
}