.form
{
    max-width: 780px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form__title
{
    font: 500 26px/1.2 Montserrat;
}

.form__input
{
    font: 500 18px/1.2 Montserrat;
    height: 64px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    text-indent: 20px;
    width: 45%;
}

.form__submit
{
    background-color: #000;
    color: #fff;
    font: 500 18px/1.2 Montserrat;
    border-radius: 5px;
    height: 64px;
    width: 45%;
}

.container
{
    padding: 20px;
}

.item
{
    font: 400 18px/1.2 Roboto Condensed;
}