/* ==================== Header ==================== */

.header {
  max-width: 1680px;
  margin: 30px auto 43px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  margin-left: 662px;
}

.header__text {
  text-decoration: none;
  color: black;
  margin-right: 87px;
  font: 500 16px/20px 'Montserrat';
}

.button {
  text-decoration: none;
  color: white;

  font: 600 16px/16px 'Montserrat';
}

.header__button {
  max-width: 167px;
  max-height: 17px;

  background-color: black;
  border-radius: 5px;
  padding: 19px 40px;
}

/* ==================== Preview ==================== */

.preview {
  max-width: 1580px;
  min-height: 732px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.preview__title {
  max-width: 745px;
}

.title {
  font: 600 100px/122px 'Montserrat';
  margin: 0;
}

.extra {
  color: #EE58B6;
}

.preview__subtitle {
  max-width: 545px;
}

.subtitle {
  color: rgba(0, 0, 0, 0.7);

  font: 400 26px/120% 'Roboto Condensed';
}

.preview__button {
  max-width: 167px;
  max-height: 17px;

  background-color: black;
  border-radius: 5px;
  padding: 19px 82.5px;
}

/* ==================== Description ==================== */

.description {
  background-color: black;
}

.description__container {
  min-height: 398px;
  max-width: 1134px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description__block {
  max-width: 337px;
  text-align: center;
}

.description__block_small {
  max-width: 303px;
}

.description__text {
  font: 400 22px/120% 'Roboto Condensed';
  color: white;
}

/* ==================== Deadline ==================== */

.deadline__title {
  font: 500 48px/61px 'Montserrat';
  margin: 0;
}

.deadline__text {
  font: 400 18px/135% 'Roboto Condensed';
  color: rgba(0, 0, 0, 0.7);
  margin: 26px 0px 0px 0px;

  max-width: 574px;
}

.deadline__ones {
  max-width: 1134px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 78px;
  margin-top: 72px;
}

.ones__info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 116px;
}

.deadline__again {
  max-width: 1134px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.again__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ==================== Powers ==================== */

.powers {
  margin-bottom: 283px;
}

.powers__title {
  font: 500 48px/59px 'Montserrat';
  text-align: center;
}

.powers__grid {
  max-width: 1164px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.powers__block {
  background-color: black;
  border-radius: 7px;

  padding: 32px 49px 37px 39px;
  max-width: 270px;
  max-height: 190px;

  margin: 15px 15px;
}

.powers__info {
  color: white;

  font: 400 18px/21px 'Roboto Condensed';
  text-align: start;
}

.powers__block_long {
  padding: 33px 33px 37px 39px;
  max-width: 286px;
}

/* ==================== Footer ==================== */

.footer {
  background-color: black;
  text-align: center;
  padding: 28px 0px;
}