/* ==================== Header ==================== */

.header__text {
  text-decoration: none;
  color: black;

  font: 500 16px/20px 'Montserrat';
}

.button {
  text-decoration: none;
  color: white;

  font: 600 16px/16px 'Montserrat';
}

.header__button {
  max-width: 167px;
  max-height: 17px;

  background-color: black;
  border-radius: 5px;
  padding: 19px 40px;
}

/* ==================== Preview ==================== */

.preview__title {
  max-width: 745px;
}

.title {
  font: 600 100px/122px 'Montserrat';
}

.extra {
  color: #EE58B6;
}

.preview__subtitle {
  max-width: 545px;
}

.subtitle {
  color: rgba(0, 0, 0, 0.7);

  font: 400 26px/120% 'Roboto Condensed';
}

.preview__button {
  max-width: 167px;
  max-height: 17px;

  background-color: black;
  border-radius: 5px;
  padding: 19px 82.5px;
}

/* ==================== Description ==================== */

.description {
  background-color: black;
  min-height: 398px;
}

.description__text {
  color: white;

  font: 400 22px/120% 'Roboto Condensed';
}

/* ==================== Deadline ==================== */

.deadline__text {
  color: rgba(0, 0, 0, 0.7);

  font: 400 18px/135% 'Roboto Condensed';
  max-width: 574px;
}

.deadline__title {
  font: 500 48px/61px 'Montserrat';
}

/* ==================== Powers ==================== */

.powers__title {
  font: 500 48px/59px 'Montserrat';
}

.powers__block {
  background-color: black;
  border-radius: 7px;

  padding: 32px 49px 37px 39px;
  max-width: 270px;
  max-height: 190px;

  margin: 30px 0px;
}

.powers__info {
  color: white;

  font: 400 18px/21px 'Roboto Condensed';
  text-align: start;
}

.powers__block_long {
  padding: 33px 33px 37px 39px;
  max-width: 286px;
}

/* ==================== Footer ==================== */

.footer {
  background-color: black;
  text-align: center;
  padding: 28px 0px;
}